.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.menu-list li {
  margin: 0 8px;
  display: flex;
  justify-content: center;
}

.menu-list li:hover {
  margin: 0 8px;
  text-decoration: underline;
  font-size: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu.dark .menu-list li:hover {
  margin: 0 8px;
  color: #f739a2 !important;
  font-size: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
}