.nav-item {
  list-style-type: none;
}

.menu-nav {
  list-style-type: none;
  margin-bottom: 20px;
  margin-top: 20 px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logobar-brand {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.logobar-brand img {
  width: 80px;
  margin-bottom: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.nav-link.light:hover {
  font-weight: bold !important;
  color: white !important;
}

.nav-link.dark:hover {
  color: #f739a2 !important;
  font-weight: bold !important;
}