   body.light {
    font-family: "Outfit", sans-serif;
    margin-bottom: 60px;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  body.dark {
    font-family:"Outfit", sans-serif;
    margin-bottom: 60px;
    background-image: none;
    background-color: black;
    justify-content: center;
  }

  .container {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
  }

  h1 {
    color: white;
  }

  .card {
  color: black;
  }

  .card-body{
    color: rgb(72, 72, 72);
    overflow: hidden !important;
    text-align: center;
    justify-content: center;  /* Center the text vertically */
    background-color: rgba(255, 255, 255, 0.6);
    height: 270px;
    width: 270px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
    display: inline-block;
  }

  .card-body.light{
    color: rgb(72, 72, 72);
    overflow: hidden !important;
    text-align: center;
    justify-content: center;  /* Center the text vertically */
    background-color: rgba(255, 255, 255, 0.6);
    height: 270px;
    width: 270px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
    display: inline-block;
  }

  .card-body.dark{
    color: white;
    overflow: hidden !important;
    text-align: center;
    justify-content: center;  /* Center the text vertically */
    background-color: transparent;
    border: 0.8px solid rgba(247, 57, 162, 1);
    height: 270px;
    width: 270px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
    display: inline-block;
  }

  .card-body:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.8);
  }
  