   body {
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .container {
  
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
  }

  h1 {
    color: #000000;
  }

  .card {
  color: black;

  }

  .card-body{
    color: rgb(72, 72, 72);
    overflow: hidden !important;
    /*width: 275px;*/
    text-align: center;

    justify-content: center;  /* Center the text vertically */
    background-color: rgba(255, 255, 255, 0.7);
    height: 270px;
    width: 270px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
    display: inline-block;
  }